{% extends 'base.html' %}

{% block content %}

    <form class="form-inline" role="form" method="post" action="{% url 'addtrain' %}">
        {% csrf_token %}
      <h2 style="padding-bottom: 15px"><b>TRAINING SCHEDULE PROGRAM</b></h2>
    <div class ="form-group">
        <label for="tname"><strong>Training Topic</strong></label>
        <input type="text" class="form-control" name="tname" required="" autofocus="" style="font-size: medium" />
    <div class ="form-group">
        <label for="tdept"><strong>Organising Department</strong></label> &nbsp;&nbsp;
            <select class="form-control" name="tdept" size="medi">
                {% for h in dept %}
                <option value="{{ h.name }}">{{ h.name }}</option>
                {% endfor %}
            </select>
        </div>
</div>
        <label style="font-size: medium"><strong>VENUE</strong><br>
            <input type="text" class="form-control" name="tvenue" required="" style="font-size: larger">
        </label><br><br>

        <label style="font-size: medium"><strong>DATE</strong><br>
            <input type="date" class="form-control" name="tdate" required="" style="font-size: larger">
        </label><br><br>

        <label style="font-size: medium"><strong>TIME</strong><br>
            <input type="time" class="form-control" name="ttime" required="" style="font-size: larger">
        </label><br><br>

        <label style="font-size: medium"><strong>TOPIC</strong><br>
            <input type="text" class="form-control" name="ttopic" required="" style="font-size: larger">
        </label><br><br>

        <label style="font-size: medium"><strong>HEAD OF PROGRAM</strong><br>
            <input type="text" class="form-control" name="thead" required="" style="font-size: larger">
        </label><br><br>

      <button class="btn btn-lg btn-primary btn-block" type="submit">CREATE TRAINING</button>
        <br>
    </form>
    {% if check == "true" %}
    <div class="alert alert-success alert-dismissable"><strong>DATA ADDED SUCCESFULLY</strong></div>
    {% endif %}


{% endblock %}